/* NOTE: gtk "devtools": GTK_DEBUG=interactive swaync
e.g. with watchexec: nix run nixpkgs#watchexec -- -e json,css -r --env GTK_DEBUG=interactive swaync
*/

* {
  all: unset;
  font-size: 16px;
  font-family: "Overpass Nerd Font Propo, Thin";
  transition: 200ms;
}

.control-center {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);

  color: white;
  padding: 1.25rem 1.5rem;
}

.control-center .widget-title>label {
  font-size: 1.3rem;
  font-weight: bold;
}

.floating-notifications {
  background: transparent;
  padding: 0;
}

.notification {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);

  padding: 1rem;
  margin: 0.5rem 1rem;
}

.image {
  padding: 0.5rem;
  border-radius: 10px;
  -gtk-icon-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.app-icon {
  margin-right: 5px;
  margin-bottom: 5px;
  -gtk-icon-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

button.close-button {
  margin-right: 1.25rem;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
}

button.close-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.notification:last-child {
  margin-bottom: 0;
}

.control-center .notification {
  margin-right: 0;
  margin-left: 0;
  background: rgba(0, 0, 0, 1.0);
}

.widget-dnd>switch {
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-right: 7px;
}

.widget-dnd>switch:checked {
  background: #de2834;
}

.widget-dnd>switch slider {
  background: #0a0a0a;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.widget-dnd>switch slider:hover {
  background: #202020;
}

button {
  padding: 0.5rem;
  margin: 0.5rem;

  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.circular {
  border-radius: 100%;
}

button:hover {
  background: rgba(255, 255, 255, 1.0);
}

.control-center .widget-title {
  margin-bottom: 0.5rem;
}

.overlay-indicator {
  min-height: 3.5rem;
  font-size: 1rem;
}

.frame {
  margin-top: 1rem;
}

.frame buttonbox button {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 0.8rem;
}

.frame buttonbox button:first-child {
  border-radius: 10px 0 0 10px;
}

.frame buttonbox button:last-child {
  border-radius: 0 10px 10px 0;
}

.frame buttonbox button:first-child:last-child {
  border-radius: 10px;
}

.frame buttonbox button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.notification-action {
  margin: 0;
  padding: 0;
}

.notification-content .vertical.text-box {
  margin-left: 1rem;
}

.summary {
  font-weight: bolder;
}

.notification-group-icon {
  margin-right: 0.5rem;
}

.body {
  min-height: 1rem;
}

.control-center-clear-all {
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
}
