* {
  font-size: 16px;
  font-family: "Overpass Nerd Font Propo, Thin";
}

@define-color primary rgb(255, 255, 255);
@define-color dark rgb(0, 0, 0);

@define-color bg alpha(@primary, 0.03);
@define-color box-shadow rgba(0, 0, 0, 0.2);

window#waybar {
  all: unset;
}

button {
  all: unset;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 4px;
  margin: 4px;

  border-radius: 10px;
  background: @bg;
  box-shadow: 0px 0px 2px @box-shadow;
  border: 1px solid alpha(@primary, 0.03);
}

.modules-left {
  margin-left: 14px;
}

.modules-right {
  margin-right: 14px;
}

.modules-right * {
  font-size: 18px;
}

#custom-notification,
#clock,
#custom-pacman,
#bluetooth,
#network,
#battery,
#group-expand,
#custom-expand,
#custom-colorpicker,
#cpu,
#memory,
#temperature {
  padding: 0 13px;
}

#workspaces button,
#clock,
#custom-pacman,
#custom-notification,
#bluetooth,
#network,
#battery,
#cpu,
#memory,
#temperature {
  transition: all 0.2s ease;
  border-radius: 5px;
}

tooltip {
  background: alpha(@dark, 0.95);
  border-radius: 10px;
  box-shadow: 0px 0px 2px @box-shadow;
  border: 1px solid alpha(@primary, 0.15);
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  color: alpha(@primary, 1.0);
  background: alpha(@primary, 0.03);
}

#workspaces,
#workspaces button,
#tray,
#tray menu *,
#tray menu separator {
  padding: 0 10px;
}

#workspaces button {
  color: transparent;
  text-shadow: 0px 0px 1px alpha(@dark, 0.5);
}

#workspaces button:hover {
  text-shadow: 0px 0px 1px alpha(@dark, 0.7);
}

#workspaces button.active {
  color: alpha(@primary, 0.9);
  border: none;
}

#workspaces button.empty {
  color: transparent;
  border: none;
  text-shadow: 0px 0px 1.5px alpha(@dark, 0.2);
}

#workspaces button.empty:hover {
  color: transparent;
  border: none;
  text-shadow: 0px 0px 1.5px alpha(@dark, 0.5);
}

#workspaces button.empty.active {
  color: alpha(@primary, 0.5);
  border: none;
}

#battery.charging {
  color: #26A65B;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

